@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.roboto100 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
